.aboutBoxWrap {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: space-between;
}

.aboutImg {
  width: 300px;
  height: 300px;
  background: url(../assets/about/aboutImg.jpg) center / contain no-repeat;
}

.aboutBox {
  width: fit-content;
  height: fit-content;
  border-radius: 10px;
  border: 1px solid #f4efee;
  box-shadow: 3px 5px 5px rgb(251 247 244);
}
.aboutBox .aboxBoxTitle {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  border-radius: 10px 10px 0 0;
  gap: 15px;
  border-bottom: 1px solid #f4efee;
  font-size: 30px;
  line-height: 1.3;
}

.aboutBox .aboxBoxTitle .logo {
  position: relative;
  top: 3px;
  width: 32px;
  aspect-ratio: 1 / 1;
  outline: 1px solid #a77b73;
}
.aboutUl {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px 30px;
  font-family: "MonaSans_M";
}

.aboutBox_Skills .aboutUl {
  gap: 20px;
}

.aboutUl li > span {
  position: relative;
  font-size: 20px;
}
.aboutBox_aboutMe .aboutUl li p:after,
.aboutBox_cert .aboutUl li p:after,
.aboutBox_howIwork .aboutUl li p:after,
.aboutBox_Skills .aboutUl li > span:after {
  content: "";
  position: absolute;
  top: 44%;
  left: -11px;
  width: 5px;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  background: #a77b73;
}
.aboutBox_experience .aboutUl li {
  display: flex;
  gap: 10px;
}

.aboutBox_experience .aboutUl li span.dateWrap {
  display: flex;
  gap: 5px;
}

span.dateWrap .date_1 {
  width: 76px;
}
span.dateWrap .date_2 {
  width: 76px;
  text-align: right;
}

.aboutUl li > p {
  position: relative;
  max-width: 363px;
  font-size: 18px;
  text-align: justify;
  white-space: pre-line;
}
.aboutBox_aboutMe .aboutUl li > p,
.aboutUl li > p {
  position: relative;
  max-width: 363px;
  font-size: 18px;
  text-align: justify;
  white-space: pre-line;
}
