.aboutBoxWrap {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 20px;
  row-gap: 20px;
  width: fit-content;
  height: fit-content;
  align-items: center;
}
.aboutBoxWrap > :not(:nth-child(4)) {
  height: 11.9rem;
}
.aboutBoxWrap > :nth-child(1) {
  grid-column: span 1;
  grid-row: span 1;
}
.aboutBoxWrap > :nth-child(2) {
  grid-column: span 1;
  grid-row: span 1;
}
.aboutBoxWrap > :nth-child(3) {
  grid-column: span 1;
  grid-row: span 1;
}
.aboutBoxWrap > :nth-child(4) {
  grid-column: span 1;
  grid-row: span 2;
}
.aboutBoxWrap > :nth-child(5) {
  grid-column: span 1;
  grid-row: span 1;
}
.aboutBoxWrap > :nth-child(6) {
  grid-column: span 2;
  grid-row: span 1;
}

.aboutImg {
  background: url(../assets/about/aboutImg.jpg) center / cover no-repeat;
}

.aboutBox {
  display: flex;
  height: fit-content;
  flex-direction: column;
  border-radius: 10px;
  border: 1px solid #f4efee;
  box-shadow: 3px 5px 5px rgb(251 247 244);
  font-family: "MonaSans_R", "NotoSans_R";
}
.aboutBox.aboutBox_Skills {
  width: 320px;
  height: 100%;
}

.aboutBox .aboxBoxTitle {
  display: flex;
  align-items: center;
  padding: 10px 10px;
  border-radius: 10px 10px 0 0;
  border-bottom: 1px solid #f4efee;
  gap: 15px;
  font-size: 1.6rem;
  line-height: 1.1;
}

.aboutBox .aboxBoxTitle .logo {
  position: relative;
  top: 0px;
  width: 26px;
  aspect-ratio: 1 / 1;
  outline: 1px solid #a77b73;
}
.aboutUl {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
}

.aboutBox:not(.aboutBox_Skills) .aboutUl {
  height: 100%;
}

.aboutBox:not(.aboutBox_experience) .aboutUl li {
  margin: 0 0 0 20px;
}

.aboutUl li > p {
  position: relative;
  font-size: 1rem;
  white-space: pre-line;
}
.aboutBox_Skills .aboutUl li > p {
  font-size: 1.2rem;
}

.aboutUl li > span {
  font-size: 1rem;
}

.aboutBox:not(.aboutBox_experience) .aboutUl li p:after {
  content: "";
  position: absolute;
  top: 42%;
  left: -15px;
  width: 5px;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  background: #a77b73;
}
.aboutBox_experience .aboutUl li {
  display: flex;
  gap: 10px;
}

.aboutBox_experience .aboutUl li span.dateWrap {
  display: flex;
  gap: 5px;
}

.aboutButtonWrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin: 20px 0 0 0;
}
