.aboutBox {
  width: fit-content;
  border-radius: 20px;
  border: 1px solid #f4efee;
  box-shadow: 0px 1px 10px rgba(65, 42, 28, 0.1);
}
.aboutBox .aboxBoxTitle {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  gap: 15px;
  border-bottom: 1px solid #f4efee;
  background: #faf5f6;
  font-size: 30px;
  line-height: 1.3;
}

.aboutBox .aboxBoxTitle .logo {
  position: relative;
  top: 3px;
  width: 32px;
  aspect-ratio: 1 / 1;
  outline: 1px solid #a77b73;
}
.aboutUl {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px 30px;
  font-family: "MonaSans_M";
}

.aboutUl li > span {
  position: relative;
  font-size: 20px;
}
.aboutUl li > span:after {
  content: "";
  position: absolute;
  top: 44%;
  left: -11px;
  width: 5px;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  background: #a77b73;
}
.aboutUl li > p {
  font-size: 18px;
}
