section.contact {
  width: 100%;
  height: 82vh;
}

.contactWrap {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100% !important;
  height: 100% !important;
  /* animation: contactAni 0.8s ease-out forwards; */
  color: var(--brown_1);
  background: linear-gradient(to top, #f5f1ec 7%, #fff 100%);
}

.contactWrap .contactMainText {
  font-size: 1.4rem;
}

.contactMainText p:first-child {
  font-size: 3rem;
  line-height: 1.3;
}
/* 
@keyframes contactAni {
  from {
    background-position: left 390px;
    color: #00000000;
  }
  to {
    background-position: left bottom;
    color: var(--brown_1);
  }
} */
.contactWrap .iconWrap {
  display: flex;
  gap: 10px;
  margin: 10px 0 0 0;
}

.contactWrap a {
  font-size: 2rem;
  border-radius: 5px;
  background: #ffffff7a;
  padding: 5px;
  color: var(--brown_1);
}

.contectBottom {
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 1rem;
  width: 95vw;
}

.contectBottom .bottomLeft {
  height: fit-content;
  align-items: end;
}

.contectBottom svg {
  position: absolute;
  right: 1rem;
  bottom: 0;
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
  font-size: 3rem;
  background: radial-gradient(circle, #ecdecc 30%, #f5f1ec 80%);
}
