section.contact {
  width: 100%;
  height: 82vh;
  background: linear-gradient(to top, #f5f1ec 7%, #fff 100%);
}

.contactWrap {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100% !important;
  height: 100% !important;
  color: var(--brown_1);
}

.contactMainText p:first-child {
  font-size: 2.5rem;
  line-height: 1.1;
}
.contactMainText p:nth-child(2) {
  font-size: 1.2rem;
  margin: 10px 0 0 5px;
  line-height: 1.4;
}

.contactWrap .iconWrap {
  display: flex;
  gap: 10px;
  margin: 10px 0 0 0;
}

.contactWrap a {
  font-size: 2rem;
  border-radius: 5px;
  background: #ffffff7a;
  padding: 5px;
  color: var(--brown_1);
}

.contectBottom {
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 1rem;
  width: 95vw;
}

.contectBottom .bottomLeft {
  height: fit-content;
  align-items: end;
}

.contectBottom svg {
  position: absolute;
  right: -1rem;
  bottom: 0;
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
  font-size: 2rem;
  background: radial-gradient(circle, #ecdecc 30%, #f5f1ec 80%);
}
