/* 영어 글씨체 */



@font-face {
  font-family: "MonaSans_B";
  src: url("../assets/fonts/MonaSans-Bold.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "MonaSans_L";
  src: url("../assets/fonts/MonaSans-Light.woff") format("woff");
  font-display: swap;

}

@font-face {
  font-family: "MonaSans_R";
  src: url("../assets/fonts/MonaSans-Regular.woff") format("woff");
  font-display: swap;

}

@font-face {
  font-family: "MonaSans_M";
  src: url("../assets/fonts/MonaSans-Medium.woff") format("woff");
  font-display: swap;

}
@font-face {
  font-family: "MonaSans_SB";
  src: url("../assets/fonts/MonaSans-SemiBold.woff") format("woff");
  font-display: swap;

}

/* 한글 글씨체 */

@font-face {
  font-family: "NotoSans_B";
  src: url("../assets/fonts/NotoSansKR-Bold.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "NotoSans_EB";
  src: url("../assets/fonts/NotoSansKR-ExtraBold.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "NotoSans_L";
  src: url("../assets/fonts/NotoSansKR-Light.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "NotoSans_R";
  src: url("../assets/fonts/NotoSansKR-Regular.woff") format("woff");
  font-display: swap;
}