.header {
  width: 100%;
  color: #8a919f;
  font-size: 30px;
}

.headerWrap {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
  font-family: "MonaSans_R";
}