.header {
  position: fixed;
  top: 0px;
  width: 100%;
  height: 60px;
  color: #a77b73;
  z-index: 5;
  font-family: "MonaSans_L";
  background: rgb(255 247 247 / 14%);
  backdrop-filter: blur(10px);
}

.headerWrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1240px;
  height: 100%;
  margin: 0 auto;
  font-size: 20px;
}

.headerLeft > p {
  position: relative;
}

.headerRight ul {
  display: flex;
  gap: 30px;
  height: 100%;
}

.headerRight li {
  height: 100%;
  text-align: center;
}
