/* ----------home------------ */
section.home {
  height: 100%;
  background: linear-gradient(to top, #fff 26%, #e2d1ce 100%);
}

.homeWrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin: 90px 0 0 0;
  color: #fff;
}
.homeWrap > p {
  font-size: 1.2rem;
  font-family: "NotoSans_L";
}
.homeWrap h1 {
  color: var(--brown_1);
  font-size: 3.5rem;
  text-align: center;
  font-family: "NotoSans_R";
  line-height: 1.1;
}
.homeWrap h2 {
  color: var(--brown_1);
  font-size: 1.3rem;
  text-align: center;
  font-family: "NotoSans_L";
  line-height: 1.4;
}
