.pjBoxWrap {
  position: relative;
  width: 100%;
  margin: 0 auto;
}

/* projecBox.jsx--------------------- */

.pjBox {
  display: flex;
  align-items: center;
  margin: 0 0 20px 0;
}

.pjBox .img {
  position: relative;
  width: 55%;
  height: 24rem;
  background-color: #e6e3e1;
}

.pjBox.ReactDiary .img {
  background: url(../assets/project/react_diary.png) center / cover no-repeat;
}
.pjBox.ReactTodo .img {
  background: url(../assets/project/react-todo.png) center / cover no-repeat;
}
.pjBox.space-quiz-project .img {
  background: url(../assets/project/space-quiz-project.png) center / cover
    no-repeat;
}
.pjBox.greenCard .img {
  background: url(../assets/project/greenCard.png) center / contain no-repeat;
}

.pjTextWrap {
  width: 55%;
  padding: 1rem;
  box-shadow: 4px 4px 5px #5b4b3033;
  background-color: #fefaf9;
  color: #5d4336;
  font-family: "MonaSans_R", "NotoSans_R";
}

.pjTextWrap > .stackListWrap {
  display: flex;
  gap: 5px;
  margin: 10px 0;
}
.projectTitle {
  font-size: 2rem;
  line-height: 2rem;
  font-family: "MonaSans_M";
}

.pjTextWrap .stack {
  background: #f5efed;
  padding: 0 5px;
  font-size: 1rem;
}
.descUl,
.members {
  font-size: 1.1rem;
  line-height: 1.4rem;
}
.descUl {
  margin: 10px 0;
}

.pjTextWrap > .iconBox {
  margin: 0 0 10px;
}
.pjTextWrap > .iconBox:last-child {
  margin: 0;
}

.iconBox {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 5px 10px;
  border-radius: 2px;
  color: #5d4336;
  background: #f5efed;
  font-family: "MonaSans_R";
  font-size: 0.9rem;
}
.iconBox svg {
  align-self: flex-start;
  font-size: 1.5rem;
  flex-shrink: 0;
}
