.projectWrap {
  position: relative;
}

.projectWrap > h1 {
  position: relative;
  color: #a77b73;
  font-size: 40px;
  font-family: "MonaSans_L";
}

.projectWrap > h1.title_1 {
  text-align: right;
  margin: 0 0 20px 0;
}
.projectWrap > h1.title_1:after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 0%;
  transform: translate(0%, -50%);
  width: 80%;
  height: 3px;
  background: #a77b73;
}
/* projecBox.jsx--------------------- */

.pjBox {
  position: relative;
  width: 100%;
}

.pjBox .img {
  width: 50vh;
  height: 60vh;
  background-color: #f3e3e1;
  margin-right: auto;
  border-radius: 20px;
}

.pjBox .pjBoxWrap {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(0, -50%);
  width: 55vh;
  height: 39vh;
  padding: 20px;
  background-color: #fef6f6;
  font-family: "MonaSans_R", "NotoSans_R";
  color: #a2847c;
}

.projectTitle {
  font-size: 2rem;
}
