.projectWrap {
  position: relative;
}

/* projecBox.jsx--------------------- */

.pjBox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.pjBox .img {
  width: 55%;
  height: 65vh;
  border-radius: 20px;
  background-color: #b69e91;
}

.pjBox .pjBoxWrap {
  transform: translate(-1.4rem, 0px);
  width: 45%;
  height: 45vh;
  padding: 20px;
  box-shadow: 4px 4px 5px #5b4b3033;
  background-color: #fefaf9;
  color: #5d4336;
  font-family: "MonaSans_R", "NotoSans_R";
}

.projectTitle {
  font-size: 2rem;
}
