.projectWrap {
  position: relative;
}

/* projecBox.jsx--------------------- */

.pjBox {
  position: relative;
  width: 100%;
}

.pjBox .img {
  width: 33vw;
  height: 60vh;
  background-color: #f3e3e1;
  margin-right: auto;
  border-radius: 20px;
}

.pjBox .pjBoxWrap {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(0, -50%);
  width: 31vw;
  height: 39vh;
  padding: 20px;
  background-color: #fef6f6;
  font-family: "MonaSans_R", "NotoSans_R";
  color: #a2847c;
}

.projectTitle {
  font-size: 2rem;
}
