.mainProjectWrap {
  padding: 20px;
}
.projectWrap .mainProjectWrap {
  background: var(--white_1);
}

.projectWrap h1 {
  display: flex;
  justify-content: flex-end;
  position: relative;
  color: var(--brown_1);
  font-size: 3.5rem;
  font-family: "MonaSans_SB";
  margin: 2rem 0 0;
}
.projectWrap h1 p {
  position: relative;
  right: 0;
  width: fit-content;
  z-index: 5;
  text-align: right;
  background: #ffffff;
}

.projectWrap h1:after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 0px;
  transform: translate(0%, -50%);
  width: 100%;
  height: 3px;
  background: var(--brown_1);
}

/* projecBox.jsx--------------------- */

.pjBox {
  display: flex;
  align-items: center;
  margin: 0 0 40px;
  justify-content: center;
}

.pjBox:last-child {
  margin: 0;
}

.pjBox .img {
  position: relative;
  width: 45%;
  height: 19rem;
}

.pjBox.ReactDiary .img {
  background: url(../assets/project/react_diary.png) center 1px / 133% no-repeat;
}
.pjBox.ReactTodo .img {
  background: #fff url(/src/assets/project/react-todo.png) center 0px/ 90%
    no-repeat;
}
.pjBox.space-quiz-project .img {
  background: url(/src/assets/project/space-quiz-project.png) center / 102%
    no-repeat;
}
.pjBox.greenCard .img {
  background: url(/src/assets/project/greenCard.png) top center / cover
    no-repeat;
}
.pjTextWrap {
  width: 52%;
  padding: 1rem;
  box-shadow: 4px 4px 5px #5b4b3033;
  background-color: var(--white_3);
  color: var(--brown_2);
  font-family: "MonaSans_R", "NotoSans_R";
}

.pjTextWrap > .stackListWrap {
  display: flex;
  gap: 5px;
  margin: 10px 0;
}

.projectTitle {
  font-size: 1.8rem;
  line-height: 1.8rem;
  font-family: "MonaSans_R", "NotoSans_R";
}

.pjTextWrap .stack {
  background: #f5efed;
  padding: 0 5px;
  font-size: 1rem;
}
.descUl,
.members {
  font-size: 1.1rem;
  line-height: 1.4rem;
}
.descUl {
  margin: 10px 0;
}
.pjTextWrap > .iconBox {
  margin: 0 0 10px;
}
.pjTextWrap > .iconBox:last-child {
  margin: 0;
}

.iconBox {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 5px 10px;
  border-radius: 2px;
  color: var(--brown_2);
  background: var(--white_1);
  font-family: "MonaSans_R";
  font-size: 0.8rem;
  line-height: 1.1;
}
.iconBox svg {
  align-self: flex-start;
  font-size: 1.8rem;
  flex-shrink: 0;
}
/* subProject----------------------------------- */
.subProjectWrap {
  display: flex;
  flex-wrap: wrap;
  gap: 1.2rem;
}
.subPjBox .projectTitle {
  margin: 5px 0 15px 0;
  font-size: 1.5rem;
  line-height: 1.5rem;
}
.subPjBox {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  width: fit-content;
  padding: 1rem;
  color: var(--brown_2);
  background: var(--white_1);
  padding: 0.7rem;
}

.subPjBox .subPjImg {
  position: relative;
  width: 22.5rem;
  height: 11rem;
  background-position: center;
  background-size: 105%;
  background-repeat: no-repeat;
  background-color: #fff;
  transition: 0.3s;
}
.subPjBox .subPjImg:hover {
  background-size: 120%;
}

.subPjBox .subPjImg:hover .imgCover {
  opacity: 1;
}

.subPjBox.subPjBox_portfolio2024 .subPjImg {
  background-image: url(/src/assets/project/portfolio2024.png);
}

.subPjBox.subPjBox_greenCardSupport .subPjImg {
  background-image: url(/src/assets/project/greenCardCustomerService.png);
  background-position: top center;
}

.subPjBox.subPjBox_listUI .subPjImg {
  background-image: url(/src/assets/project/listUI.png?t=1771910651327);
  background-size: 62%;
}
.subPjBox.subPjBox_listUI .subPjImg:hover {
  background-size: 70%;
}

.subPjBox.subPjBox_clipPath .subPjImg {
  background-image: url(/src/assets/project/clipPath.png);
  background-size: 83%;
}
.subPjBox.subPjBox_clipPath .subPjImg:hover {
  background-size: 93%;
}

.subPjBox.subPjBox_luckyWheel .subPjImg {
  background-image: url(/src/assets/project/luckyWheel.png);
  background-size: 63%;
}
.subPjBox.subPjBox_luckyWheel .subPjImg:hover {
  background-size: 80%;
}

.subPjBox.subPjBox_findTheNumber .subPjImg {
  background-image: url(/src/assets/project/findTheNumber.png);
  background-size: 157%;
}
.subPjBox.subPjBox_findTheNumber .subPjImg:hover {
  background-size: 180%;
}

.imgCover {
  opacity: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 10px;
  transition: 0.5s;
  color: #fff;
  background: #362c14eb;
  font-family: "MonaSans_R", "NotoSans_R";
}
.comm {
  text-align: center;
  font-size: 1.1rem;
  white-space: pre-line;
}
.buttonWrap {
  display: flex;
  gap: 10px;
  margin: 10px 0 0 0;
}
.buttonWrap a svg {
  background: rgba(255, 255, 255, 0.7);
  color: var(--brown_2);
  padding: 5px;
  font-size: 1.7rem;
  cursor: pointer;
  border-radius: 4px;
}
