.mainProjectWrap {
  padding: 20px;
}
.projectWrap .mainProjectWrap {
  background: var(--white_1);
}

.projectWrap h1 {
  display: flex;
  justify-content: flex-end;
  position: relative;
  color: var(--brown_1);
  font-size: 3.5rem;
  font-family: "MonaSans_SB";
}
.projectWrap h1 p {
  position: relative;
  right: 0;
  width: fit-content;
  z-index: 5;
  text-align: right;
  background: #ffffff;
}

.projectWrap h1:after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 0px;
  transform: translate(0%, -50%);
  width: 100%;
  height: 3px;
  background: var(--brown_1);
}

/* projecBox.jsx--------------------- */

.pjBox {
  display: flex;
  align-items: center;
  margin: 0 0 20px;
  justify-content: center;
}

.pjBox:last-child {
  margin: 0;
}

.pjBox .img {
  position: relative;
  width: 45%;
  height: 19rem;
}

.pjBox.ReactDiary .img {
  background: url(../assets/project/react_diary.png) center 1px / 133% no-repeat;
}
.pjBox.ReactTodo .img {
  background: #fff url(/src/assets/project/react-todo.png) center 0px/ 90%
    no-repeat;
}
.pjBox.space-quiz-project .img {
  background: url(/src/assets/project/space-quiz-project.png) center / 102%
    no-repeat;
}
.pjBox.greenCard .img {
  background: url(/src/assets/project/greenCard.png) top center / cover
    no-repeat;
}
.pjTextWrap {
  width: 52%;
  padding: 1rem;
  box-shadow: 4px 4px 5px #5b4b3033;
  background-color: var(--white_3);
  color: var(--brown_2);
  font-family: "MonaSans_R", "NotoSans_R";
}

.pjTextWrap > .stackListWrap {
  display: flex;
  gap: 5px;
  margin: 10px 0;
}

.projectTitle {
  font-size: 2rem;
  line-height: 2rem;
  font-family: "MonaSans_M";
}
.subPjBox .projectTitle {
  margin: 0 0 20px 0;
}
.pjTextWrap .stack {
  background: #f5efed;
  padding: 0 5px;
  font-size: 1rem;
}
.descUl,
.members {
  font-size: 1.1rem;
  line-height: 1.4rem;
}
.descUl {
  margin: 10px 0;
}
.pjTextWrap > .iconBox {
  margin: 0 0 10px;
}
.pjTextWrap > .iconBox:last-child {
  margin: 0;
}

.iconBox {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 5px 10px;
  border-radius: 2px;
  color: var(--brown_2);
  background: var(--white_1);
  font-family: "MonaSans_R";
  font-size: 0.8rem;
}
.iconBox svg {
  align-self: flex-start;
  font-size: 1.8rem;
  flex-shrink: 0;
}
/* subProject----------------------------------- */

.subPjBox {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  width: fit-content;
  padding: 1rem;
  color: var(--brown_2);
  background: var(--white_1);
  padding: 26px;
}

.subPjBox .subPjImg {
  position: relative;
  width: 28rem;
  height: 13rem;
  cursor: pointer;
  background-position: center;
  background-size: 105%;
  background-repeat: no-repeat;
  transition: 0.5s;
}
.subPjBox .subPjImg:hover {
  background-size: 130%;
}
.subPjBox .subPjImg:hover .imgCover {
  opacity: 1;
}
.subPjBox.subPjBox_portfolio2024 .subPjImg {
  background-image: url(/src/assets/project/portfolio2024.png);
}

.imgCover {
  /* opacity: 0; */
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: #fff;
  background: #5d4336db;
  font-family: "MonaSans_R", "NotoSans_R";
}
.subPjTitle {
  font-size: 2rem;
}
