.pjBoxWrap {
  position: relative;
  width: 90%;
  margin: 0 auto;
}

/* projecBox.jsx--------------------- */

.pjBox {
  display: flex;
  align-items: center;
}

.pjBox .img {
  width: 55%;
  height: 80vh;
  background-color: #b69e91;
}

.pjTextWrap {
  transform: translate(-20px, 0);
  width: 45%;
  height: 60vh;
  padding: 20px;
  box-shadow: 4px 4px 5px #5b4b3033;
  background-color: #fefaf9;
  color: #5d4336;
  font-family: "MonaSans_R", "NotoSans_R";
}

.projectTitle {
  font-size: 2rem;
}
