.projectWrap {
  position: relative;
}

/* projecBox.jsx--------------------- */

.pjBox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.pjBox .img {
  width: 28vw;
  height: 47vh;
  border-radius: 20px;
  background-color: #f3e3e1;
}

.pjBox .pjBoxWrap {
  transform: translate(-1.4rem, 0px);
  width: 23vw;
  height: 31vh;
  padding: 20px;
  background-color: #fef6f6;
  color: #a2847c;
  font-family: "MonaSans_R", "NotoSans_R";
}

.projectTitle {
  font-size: 2rem;
}
