/* 1240px 이하 */
@media (max-width: 1240px) {
  .aboutBoxWrap {
    width: 100%;
    grid-template-columns: repeat(15, 1fr);
    grid-template-rows: auto auto auto;
  }
  .aboutBoxWrap > :nth-child(1) {
    grid-column: span 4;
    order: 1;
  }
  .aboutBoxWrap > :nth-child(2) {
    grid-column: span 5;
    order: 3;
  }
  .aboutBoxWrap > :nth-child(3) {
    grid-column: span 4;
    order: 4;
  }
  .aboutBoxWrap > :nth-child(4) {
    grid-column: span 15;
    order: 6;
  }

  .aboutBoxWrap > :nth-child(5) {
    grid-column: span 6;
    order: 2;
  }
  .aboutBoxWrap > :nth-child(6) {
    grid-column: span 11;
    order: 5;
  }

  .pjBox {
    flex-direction: column;
  }
  .pjBox .img {
    width: 48.3rem;
    height: 26.9rem;
  }
  .pjTextWrap {
    width: 49.5rem;
  }
  .subProjectWrap {
    grid-template-columns: repeat(2, 1fr);
  }
  .subPjBox .subPjImg {
    height: 15.6rem;
  }
}

/* 885px 이하 */
@media (max-width: 885px) {
  .aboutBoxWrap > :nth-child(1) {
    grid-column: span 7;
    background-size: 18rem;
  }
  .aboutBoxWrap > :nth-child(2) {
    grid-column: span 7;
  }
  .aboutBoxWrap > :nth-child(3) {
    grid-column: span 8;
  }
  .aboutBoxWrap > :nth-child(4) {
    grid-column: span 15;
  }

  .aboutBoxWrap > :nth-child(5) {
    grid-column: span 8;
  }
  .aboutBoxWrap > :nth-child(6) {
    grid-column: span 15;
  }
  .pjBox .img {
    width: 34.9rem;
    height: 19.2rem;
  }
  .pjTextWrap {
    width: 33rem;
  }

  .subProjectWrap {
    grid-template-columns: repeat(1, 1fr);
  }
  .subPjBox .subPjImg {
    height: 20rem;
  }

  .contactMainText p:first-child {
    font-size: 2rem;
  }
}

@media (max-width: 680px) {
  .header {
    display: none;
  }
  .aboutBoxWrap {
    margin: 0rem 0;
  }
  .homeWrap h1 {
    font-size: 2.2rem;
  }
  .homeWrap h2 {
    font-size: 1rem;
  }
  .aboutWrap > h1 {
    height: 6.5rem;
    font-size: 2.2rem;
  }

  .aboutBoxWrap > :nth-child(1) {
    grid-column: span 15;
    background-size: 18rem;
  }
  .aboutBoxWrap > :nth-child(5),
  .aboutBoxWrap > :nth-child(3),
  .aboutBoxWrap > :nth-child(2) {
    grid-column: span 15;
    height: fit-content;
  }

  .aboutBoxWrap > :nth-child(4) {
    grid-column: span 15;
  }

  .aboutBoxWrap > :nth-child(6) {
    grid-column: span 15;
    height: max-content;
  }
  .aboutBox_experience .aboutUl li {
    flex-direction: column;
    gap: 0;
    margin: 0 0 0.5rem 0;
  }
  .aboutBox_experience .aboutUl li:last-child {
    margin: 0;
  }
  .aboutButtonWrap {
    gap: 5px;
    margin: 20px 4px;
  }
}
