/* 1240px 이하 */
@media (max-width: 1240px) {
  * {
    cursor: default !important;
  }
  .mouseEle {
    display: none !important;
  }
  .aboutBoxWrap {
    width: 100%;
    grid-template-columns: repeat(15, 1fr);
    grid-template-rows: auto auto auto;
  }
  .aboutBoxWrap > :not(:nth-child(4)) {
    height: 10.2rem;
  }
  .aboutBoxWrap > :nth-child(1) {
    grid-column: span 4;
    order: 1;
    background-size: 13.2rem;
  }
  .aboutBoxWrap > :nth-child(2) {
    grid-column: span 5;
    order: 3;
  }
  .aboutBoxWrap > :nth-child(3) {
    grid-column: span 4;
    order: 4;
  }
  .aboutBoxWrap > :nth-child(4) {
    grid-column: span 15;
    order: 6;
  }

  .aboutBoxWrap > :nth-child(5) {
    grid-column: span 6;
    order: 2;
  }
  .aboutBoxWrap > :nth-child(6) {
    grid-column: span 11;
    order: 5;
  }

  .aboutUl li > p {
    font-size: 1rem;
  }
  .aboutUl li > span {
    font-size: 1.1rem;
  }
  .projectWrap h1 {
    margin: 0;
  }

  .descUl {
    width: 100%;
  }

  .pjBox {
    flex-direction: column;
  }
  .pjBox .img {
    width: 100%;
    height: 29rem;
  }
  .pjBox.ReactDiary .img {
    background-size: 55rem;
  }
  .pjBox.ReactTodo .img {
    background-size: 52rem;
  }
  .pjBox.space-quiz-project .img {
    background-size: 53.8rem;
  }
  .pjBox.greenCard .img {
    background-size: 51.5rem;
  }
  .pjTextWrap {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    column-gap: 1rem;
    width: 100%;
    box-sizing: border-box;
  }
  .members {
    margin: 0;
    top: 0.05rem;
  }
  .pjTextWrap > .iconBox {
    width: 100%;
  }

  .subProjectWrap {
    grid-template-columns: repeat(2, 1fr);
  }
  .subPjBox .subPjImg {
    height: 15.6rem;
  }
  .subPjBox.subPjBox_portfolio2024 .subPjImg {
    background-size: 25rem;
  }
  .subPjBox.subPjBox_greenCardSupport .subPjImg {
    background-size: 23.5rem;
  }
  .subPjBox.subPjBox_listUI .subPjImg {
    background-size: 24.7rem;
  }
  .subPjBox.subPjBox_clipPath .subPjImg {
    background-size: 29rem;
  }
  .subPjBox.subPjBox_luckyWheel .subPjImg {
    background-size: 28rem;
  }
  .subPjBox.subPjBox_findTheNumber .subPjImg {
    background-size: 31rem;
  }
}

/* 885px 이하 */
@media (max-width: 885px) {
  .header {
    padding: 0 1rem;
  }
  .headerWrap {
    font-size: 1rem;
  }
  .homeWrap h1 {
    font-size: 2.3rem;
  }
  .homeWrap h2,
  .homeWrap > p {
    font-size: 1rem;
  }

  .aboutWrap > h1 {
    height: 6.5rem;
    font-size: 2.3rem;
  }
  .aboutButtonWrap button > .comm .projectWrap h1 {
    font-size: 2.3rem;
  }

  .aboutBoxWrap > :not(:nth-child(4)) {
    height: 8.1rem;
  }
  .aboutBoxWrap > :nth-child(1) {
    grid-column: span 7;
    background-size: 10.5rem;
  }
  .aboutBoxWrap > :nth-child(2) {
    grid-column: span 7;
  }
  .aboutBoxWrap > :nth-child(3) {
    grid-column: span 8;
  }
  .aboutBoxWrap > :nth-child(4) {
    grid-column: span 15;
  }

  .aboutBoxWrap > :nth-child(5) {
    grid-column: span 8;
  }
  .aboutBoxWrap > :nth-child(6) {
    grid-column: span 15;
  }

  .aboutBox .aboxBoxTitle {
    font-size: 1.2rem;
    padding: 0.2rem;
  }

  .aboutBox .aboxBoxTitle .logo {
    font-size: 1.6rem;
  }
  .aboutButtonWrap button,
  .aboutUl li > span,
  .aboutUl li > p {
    font-size: 0.8rem;
  }
  .aboutButtonWrap button .comm {
    font-size: 0.8rem;
  }

  .projectWrap h1 {
    font-size: 2.5rem;
  }

  .projectTitle {
    font-size: 1.2rem;
  }
  .pjTextWrap {
    column-gap: 0.4rem;
  }
  .pjTextWrap .stack {
    font-size: 0.7rem;
  }
  .descUl,
  .members {
    font-size: 0.8rem;
  }
  .pjBox .img {
    height: 21.4rem;
  }
  .pjBox.ReactDiary .img {
    background-size: 55rem;
  }
  .pjBox.ReactTodo .img {
    background-size: 37.7rem;
  }
  .pjBox.space-quiz-project .img {
    background-size: 38.2rem;
  }
  .pjBox.greenCard .img {
    background-size: 36.8rem;
  }
  .iconBox svg {
    font-size: 1.4rem;
  }

  .subProjectWrap {
    grid-template-columns: repeat(1, 1fr);
  }
  .subPjBox .subPjImg {
    height: 16rem;
  }

  .contactMainText p:first-child {
    font-size: 1.8rem;
  }
  .contactMainText p:nth-child(2) {
    font-size: 1rem;
  }
  .contactWrap a {
    font-size: 1.4rem;
  }
  .contectBottom svg {
    padding: 0.5rem;
  }
}

@media (max-width: 680px) {
  .headerWrap {
    justify-content: center;
  }
  .headerRight {
    display: none;
  }
  .aboutBoxWrap {
    margin: 0.4rem 0;
  }

  .aboutBoxWrap > :nth-child(1) {
    grid-column: span 15;
  }
  .aboutBoxWrap > :nth-child(5),
  .aboutBoxWrap > :nth-child(3),
  .aboutBoxWrap > :nth-child(2) {
    grid-column: span 15;
    height: fit-content;
  }

  .aboutBoxWrap > :nth-child(4) {
    grid-column: span 15;
  }

  .aboutBoxWrap > :nth-child(6) {
    grid-column: span 15;
    height: max-content;
  }
  .aboutBox_experience .aboutUl li {
    flex-direction: column;
    gap: 0;
    margin: 0 0 0.5rem 0;
  }
  .aboutBox_experience .aboutUl li:last-child {
    margin: 0;
  }
  .aboutButtonWrap {
    gap: 5px;
    margin: 1rem 2rem;
  }
  .mainProjectWrap {
    padding: 0.5rem;
  }

  .pjBox .img {
    height: 11.5rem;
  }
  .pjBox.ReactDiary .img {
    background-size: 22.6rem;
  }
  .pjBox.ReactTodo .img {
    background-size: 23.6rem;
  }
  .pjBox.space-quiz-project .img {
    background-size: 20.5rem;
  }
  .pjBox.greenCard .img {
    background-size: 20.1rem;
  }
  .projectTitle {
    width: 100%;
    margin-bottom: 0.5rem;
  }
  .pjTextWrap {
    padding: 0.5rem;
  }
  .members {
    top: -0.05rem;
  }

  .projectWrap h1 {
    justify-content: center;
  }
  .projectWrap h1::after {
    content: none;
  }
  .pjTextWrap > .iconBox {
    width: fit-content;
    margin: 0;
  }
  .subPjBox .projectTitle {
    margin: 0.5rem 0;
    font-size: 1.2rem;
    text-align: center;
  }
  .comm {
    font-size: 0.8rem;
  }

  .subPjBox.subPjBox_portfolio2024 .subPjImg {
    background-size: 18rem;
  }
  .subPjBox.subPjBox_greenCardSupport .subPjImg {
    background-size: 18.5rem;
  }
  .subPjBox.subPjBox_listUI .subPjImg {
    background-size: 17rem;
  }
  .subPjBox.subPjBox_clipPath .subPjImg {
    background-size: 18rem;
  }
  .subPjBox.subPjBox_luckyWheel .subPjImg {
    background-size: 17.5rem;
  }
  .subPjBox.subPjBox_findTheNumber .subPjImg {
    background-size: 17.5rem;
  }
  .iconBox:after {
    content: none;
  }
  .contactMainText p:first-child {
    font-size: 1.1rem;
  }
  .contactMainText p:nth-child(2) {
    font-size: 0.7rem;
  }
}
