@import url(./AboutButton.css);
@import url(./aboutBox.css);
@import url(./project.css);

section {
  position: relative;
  width: 100%;
}

section > [class$="Wrap"] {
  width: 1240px;
  height: 100%;
  margin: 0 auto;
  box-sizing: border-box;
}

/* ----------home------------ */
section.home {
  height: 100%;
  background: linear-gradient(to top, #fff 26%, #e2d1ce 100%);
}
.homeWrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin: 90px 0 0 0;
}
.homeWrap > p {
  font-size: 1.2rem;
  font-family: "NotoSans_L";
}
.homeWrap h1 {
  color: #a77b73;
  font-size: 3.5rem;
  text-align: center;
  font-family: "NotoSans_R";
  line-height: 1.1;
}
.homeWrap h2 {
  color: #a77b73;
  font-size: 1.3rem;
  text-align: center;
  font-family: "NotoSans_L";
  line-height: 1.4;
}

/* ----------about------------ */

.aboutWrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin: 90px 0 0 0;
}

.about {
  color: #a77b73;
}
.aboutWrap > h1 {
  display: flex;
  width: 100vw;
  height: 8.8vh;
  background: url(/src/assets/about/aboutBg.jpg) center / 12.3%;
  font-family: "MonaSans_SB";
  font-size: 4.5rem;
  align-items: center;
  justify-content: center;
}
/* ----------project------------ */
.projectWrap > h1 {
  position: relative;
  color: #a77b73;
  font-size: 4.5rem;
  font-family: "MonaSans_SB";
}

.projectWrap > h1.title_1 {
  text-align: right;
  margin: 0 0 20px 0;
}
.projectWrap > h1.title_1:after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 0%;
  transform: translate(0%, -50%);
  width: 63.9%;
  height: 3px;
  background: #a77b73;
}
/* ----------contact------------ */
