@import url(./AboutButton.css);
@import url(./aboutBox.css);
@import url(./project.css);
@import url(./contect.css);
@import url(./home.css);

section {
  position: relative;
  width: 100%;
}

section > [class$="Wrap"] {
  width: 100%;
  max-width: 1240px;
  height: 100%;
  margin: 0 auto;
  padding: 0 1.5rem;
  box-sizing: border-box;
}

/* 1040px 이하 */
@media (max-width: 1040px) {
}

/* 1024px 이하 */
@media (max-width: 1024px) {
}
