section {
  position: relative;
  width: 100%;
  height: 100%;
  outline: 1px solid #000;
}
section > [class$="Wrap"] {
  width: 1500px;
  height: 100%;
  margin: 0 auto;
  padding: 80px 0 0 0;
  box-sizing: border-box;
}

/* ----------home------------ */
section.home {
  background: linear-gradient(to top, #fff 26%, #e2d1ce 100%);
}
.homeWrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  margin: 90px 0 0 0;
}
.homeWrap > p {
  font-size: 20px;
  font-family: "NotoSans_L";
}
.homeWrap h1 {
  color: #a77b73;
  font-size: 46px;
  text-align: center;
  font-family: "NotoSans_R";
  line-height: 1.2;
}
.homeWrap h2 {
  color: #a77b73;
  font-size: 21px;
  text-align: center;
  font-family: "NotoSans_L";
  line-height: 1.4;
}

.homeWrap button {
  width: 52px;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  border: 1px solid #fff;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
  background: linear-gradient(to bottom, #fff 14%, #f2e6e4 100%);
}

/* ----------about------------ */
.about {
  color: #a77b73;
}
.about h1 {
  font-size: 46px;
  font-family: "MonaSans_M";
  margin: 20px 0 30px 0;
}

/* ----------skill------------ */
/* ----------project------------ */
/* ----------contact------------ */
