@import url(./AboutButton.css);
@import url(./aboutBox.css);
@import url(./project.css);
@import url(./contect.css);
@import url(./home.css);
@import url(responsive.css);

section {
  position: relative;
  width: 100%;
}

section > [class$="Wrap"] {
  width: 100%;
  max-width: 1240px;
  height: 100%;
  margin: 0 auto;
  padding: 0 1.5rem;
  box-sizing: border-box;
}
