@import url(./AboutButton.css);
@import url(./aboutBox.css);
@import url(./project.css);

section {
  position: relative;
  width: 100%;
  margin: 0px 0 5rem 0;
}

section > [class$="Wrap"] {
  width: 1240px;
  height: 100%;
  margin: 0 auto;
  box-sizing: border-box;
}

/* ----------home------------ */
section.home {
  height: 100%;

  background: linear-gradient(to top, #fff 26%, #e2d1ce 100%);
}
.homeWrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin: 90px 0 0 0;
}
.homeWrap > p {
  font-size: 1.2rem;
  font-family: "NotoSans_L";
}
.homeWrap h1 {
  color: #a77b73;
  font-size: 3.5rem;
  text-align: center;
  font-family: "NotoSans_R";
  line-height: 1.1;
}
.homeWrap h2 {
  color: #a77b73;
  font-size: 1.3rem;
  text-align: center;
  font-family: "NotoSans_L";
  line-height: 1.4;
}

/* ----------about------------ */

.aboutWrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin: 90px 0 0 0;
}

.about {
  height: 43vh;
  color: #a77b73;
}

/* ----------project------------ */
/* ----------contact------------ */
