section {
  position: relative;
  width: 100%;
  height: 100%;
  outline: 1px solid #000;
}
section > [class$="Wrap"] {
  width: 1240px;
  height: 100%;
  margin: 0 auto;
  padding: 80px 0 0 0;
  box-sizing: border-box;
}

/* ----------home------------ */
section.home {
  background: linear-gradient(to top, #fff 26%, #e2d1ce 100%);
}
.homeWrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  margin: 90px 0 0 0;
}
.homeWrap > p {
  font-size: 20px;
  font-family: "NotoSans_L";
}
.homeWrap h1 {
  color: #a77b73;
  font-size: 65px;
  text-align: center;
  font-family: "NotoSans_R";
  line-height: 1.2;
}
.homeWrap h2 {
  color: #a77b73;
  font-size: 21px;
  text-align: center;
  font-family: "NotoSans_L";
  line-height: 1.4;
}

/* ----------about------------ */
.about {
  color: #a77b73;
}

/* ----------skill------------ */
/* ----------project------------ */
/* ----------contact------------ */
