@import url(./AboutButton.css);
@import url(./aboutBox.css);
@import url(./project.css);

section {
  position: relative;
  width: 100%;
}

section > [class$="Wrap"] {
  width: 1240px;
  height: 100%;
  margin: 0 auto;
  box-sizing: border-box;
}

/* ----------home------------ */
section.home {
  height: 100%;
  background: linear-gradient(to top, #fff 26%, #e2d1ce 100%);
}
.homeWrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin: 90px 0 0 0;
}
.homeWrap > p {
  font-size: 1.2rem;
  font-family: "NotoSans_L";
}
.homeWrap h1 {
  color: #a77b73;
  font-size: 3.5rem;
  text-align: center;
  font-family: "NotoSans_R";
  line-height: 1.1;
}
.homeWrap h2 {
  color: #a77b73;
  font-size: 1.3rem;
  text-align: center;
  font-family: "NotoSans_L";
  line-height: 1.4;
}

/* ----------about------------ */

.aboutWrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin: 90px 0 0 0;
}

.about {
  color: #a77b73;
}
.aboutWrap > h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 99vw;
  height: 14.5rem;
  font-family: "MonaSans_SB";
  font-size: 3.5rem;
  color: #8a5e57;
  background: url(/src/assets/about/aboutBg2.png) center / 100%;
}
/* ----------project------------ */

/*





 */
/* ----------contact------------ */
