#root,
body,
html {
  width: 100%;
  height: 100%;
  color: #fff;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
}

a {
  text-decoration: none;
}

ul,
li,
ol {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}
